.pages-links {
    max-width: 100%;
    padding: 60px 0 0 0;
    position: relative;
    transform: translateY(60px);
    transition: all 0.6s ease-out;
    transition-delay: 0.4s;
    opacity: 0;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: var(--side-padding);
        overflow-x: scroll;
        padding: 0 var(--side-padding) 0px var(--side-padding);
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */

        .title {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 8px;

            span {
                color: var(--grey);
                //margin: 0 0 6px 0;
                font-size: 2vw;
            }

            h3 {
                font-size: 2vw;
                margin: 0;
            }
        }

        .image {
            width: calc(100vw / 2.5);
            overflow: hidden;
            border-radius: 20px;
            box-shadow: var(--box-shadow);

            img {
                display: block;
                width: 100%;
                object-fit: cover;
                object-position: center center;
                transition: transform 0.4s ease-in-out;
            }
        }
    }

    ul::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

    .next-button {
        position: absolute;
        bottom: 50px;
        right: var(--side-padding);

        .button {
            background: var(--black);
            border-radius: 50px;
            aspect-ratio: 1/1;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            margin-right: 10px;
            box-shadow: var(--box-shadow);

            svg {
                path {
                    fill: var(--white);
                }
            }
        }

        .button:hover {
            background: var(--white);
            
            svg {
                path {
                    fill: var(--black);
                }
            }
        }


    }

}

.pages-links ul .image:hover {
    img {
        transform: scale(1.1);
    }
}

.pages-links.in-viewport {
    transform: translateY(0px);
    opacity: 1;
}