.pages-links {

    ul {
        gap: 6px;
        
        .title {

            span {
                font-size: 3.5vw;
            }

            h3 {
                font-size: 3.5vw;
            }
        }

        .image {
            border-radius: 12px;
            width: 60vw;
        }
    }

    .next-button {
        right: 0px;

        .button {
            width: 40px;
            height: 40px;

            svg {
                width: 50%;
            }
        }
    }
}