#services-header {
    transform: translateY(60px);
    transition: all 0.6s ease-out;
    transition-delay: 0.2s;
    opacity: 0;
    
    /*
    ----------------------
    HEADER
    ----------------------
    */
    .header {
        display: grid;
        grid-template-columns: var(--twelve-column);
        grid-gap: var(--side-padding);
        align-items: flex-end;
        padding: 0px var(--side-padding) 40px var(--side-padding);
        margin: 60px 0 20px 0;

        .left {
            grid-column: col-start 1 / span 3;

            span {
                border: 1px solid var(--grey);
                padding: 8px 14px;
                border-radius: 50px;
                display: inline-block;
            }
        }

        .right {
            grid-column: col-start 4 / span 8;

            h2 {
                font-size: 3vw;
                line-height: var(--line-height--m);
                letter-spacing: var(--letter-spacing--m);
            }
        }

    }

}



/*
----------------------
IN VIEWPORT
----------------------
*/
#services-header.in-viewport {
    transform: translateY(0px);
    opacity: 1;
}