@media screen and (max-width: 767px) {
 
    #testimonials {
        display: flex !important;
        flex-direction: column;

        .left {
            .testimonial {        
                
                .header {
                    margin: 0 0 20px 0;
                    
                    .headline {
                        h2 {
                            font-size: 5vw;
                        }
                    }
                }

                .user-info {

                    .controls {

                        button {
                            padding: 10px;
                        }
                    }
                }
            }
        }


        .right {
            display: none;
        }
    }
    
}